---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.jsx';
import HeroSection from '../components/HeroSection.jsx';
import HowItWorks from '../components/HowItWorks.jsx';
import CallToAction from "../components/CallToAction.jsx";
import Footer from "../components/Footer.jsx";
import BaseHead from '../components/BaseHead.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts.js";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	<main class="overflow-hidden bg-white">
		<NavBar client:load />
		<HeroSection />
		<HowItWorks />
		<CallToAction />
		<Footer />
	</main>
	</body>
</html>
